<div id="blog-header">
  <h1>$pagetitle$</h1>
  $if(description-meta)$
  <p id="description">
    $description-meta$
  </p>
  $endif$
  <div id="info">
    $if(author-meta)$
    <p>
      $for(author-meta)$
      written by
      $author-meta$
      $endfor$
    </p>
    $endif$
    $if(created)$
    <p>
      created: $created$
    </p>
    $endif$
    $if(updated)$
    <p>
      last updated: $updated$
    </p>
    $endif$
    $if(keywords)$
    <p>
      tags:
      $for(keywords)$
      $keywords$$sep$, 
      $endfor$
    </p>
    $endif$
  </div>
</div>
<hr id="blog-header-sep">
