div#blog-header {
  margin: -0.5em;
  display: block;
  padding: 0.5em;
  padding-bottom: 0;
  /*background-color: var(--secondary-bg);*/
}
div#blog-header h1 {
  font-style: italic;
  margin-bottom: -0.2em;
}
div#blog-header p#description {
  font-style: italic;
  margin-bottom: -0.2em;
  color: var(--ctp-mocha-subtext0);
}
div#blog-header div#info {
  display: flex;
  flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}
div#blog-header div#info p {
  margin-right: 1em;
  font-size: small;
  color: var(--ctp-mocha-overlay0);
}
hr#blog-header-sep {
  margin-bottom: 0;
}

main {
  padding: 0.5em;
}
