/* Theme */
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* Nerd font for .nf class */
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

/* General */
* {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
	--text: var(--ctp-mocha-text);
	--bg: var(--ctp-mocha-base);
	--secondary-bg: var(--ctp-mocha-surface0);
	--navbar-bg: var(--ctp-mocha-surface0);
	--footer-bg: var(--ctp-mocha-mantle);
	--a: var(--ctp-mocha-rosewater);

  height: 100%;
	padding: 8pt;
	background-color: var(--bg);
	color: var(--text);
}
hr {
	color: var(--ctp-mocha-surface1);
}
a {
	text-decoration: none !important;
	color: var(--a);
}

/* toki pona (UCSUR) */
@font-face {
  font-family: 'linjamanka';
  src: url('https://lipamanka.gay/linjalipamanka-normal.woff') format('woff');
}
span.pona {
  font-family: 'linjamanka';
}
span.pona:hover:after {
  padding: 0.1em;
  border-radius: 4px;
  background-color: var(--secondary-bg);

  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em !important;
  content: attr(data-sitelen-lasina);
}

/* Navbar */
div#navbar ul {
	margin: -8pt;
	padding: 0;
	overflow: hidden;

	background-color: var(--navbar-bg);
	list-style-type: none;
}
div#navbar ul li {
	display: inline-block;
	padding: 8px;
}
div#navbar ul li.left {
	float: left;
}
div#navbar ul li.right {
	float: right;
}
div#navbar ul p {
	margin: 0;
	padding: 0;
}

/* Footer */
div#body-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
div#footer {
  margin: -8pt;
  margin-top: 16pt;
  padding: 0;

  overflow: hidden;
  float: bottom;
  display: block;

  background-color: var(--footer-bg);

  text-align: center;
  font-size: 0.8em;

  margin-top: auto;
}
div#footer .nf-fa-linux {
  color: var(--ctp-mocha-mauve);
}
div#footer .nf-linux-neovim {
  color: var(--ctp-mocha-green);
}
div#footer .nf-fa-coffee {
  color: var(--ctp-mocha-maroon);
}
div#footer .nf-fa-heart {
  color: var(--ctp-mocha-pink);
}
div#footer p {
  margin: 0.8em;
}
